.main-container {
    display: flex;
}

main {
    width: 1300px;
    padding-right: 10px;
}

.sidebar {
    width: 200px;
}

.app-name {
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.header-right {
    display: flex;
    align-items: center;
}

.notification-button {
    position: relative;
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-size: cover;
    height: 32px;
    width: 32px;
}

.last-messages {
    position: absolute;
    visibility: hidden;
    transform: translate(-40%, -10%);
    opacity: 0;
    transition: opacity 0.3s;
}

.notification:hover .last-messages {
    visibility: visible;
    opacity: 1;
}

ul {
    border: 1px solid black;
    border-radius: 10px;
    list-style: none;
    background-color: white;
    padding: 0;
}

li {
    padding: 5px;
    display: flex;
    cursor: pointer;
}

.message-content {
    text-align: left;
}

.message-content p {
    margin: 0;
}


.read-icon {
    background-image: url('assets/images/bell.png');
}

.not-read-icon {
    background-image: url('/assets/images/bell-new.png');
}

.user-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-image: url('/assets/images/user.png');
    background-size: cover;
    height: 32px;
    width: 32px;
    margin: 0 10px 0 20px;
}

.username {
    color: white;;
}

@keyframes shake {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-10deg); }
    50% { transform: rotate(10deg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
}

.notification-button:hover {
    animation: shake 0.5s ease-in-out;
}

.title-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-button {
    padding: 10px 15px;
    background-color: transparent;
    border: 1px solid black;
    font-size: 16px;
    cursor: pointer;
    height: 40px;
    transition: background-color 0.3s;
}

.add-button:hover {
    background-color: lightgray;
    color: white;
}

table {
    width: 100%;
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

th, td {
    padding: 10px;
    max-width: 200px;
    text-align: center;
    font-weight: bold;
}

th {
    font-weight: normal;
    font-size: 15px;
}

.hidden-column {
    display: none;
}

.options-button {
    background-color: transparent;
    width: 30px;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-color 0.3s;
    cursor: pointer;
}

.options-button:hover {
    background-color: lightgray;
}

.edit-button {
    background-image: url('/assets/images/edit.png');
    background-size: 25px;
}

.delete-button {
    background-image: url('/assets/images/delete.png');
    background-size: 40px;
}

.status-icon {
    width: 20px;
    height: 20px;
    background-size: cover;
}

.modal {
    position: fixed;
    inset: 0;
    display: none;
    background: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    background-color: white;
    padding: 20px;
    border-radius: 4px;
}

.modal-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border: 1px solid gray;
    background-image: url('/assets/images/delete.png');
    background-size: cover;
    cursor: pointer;
}

h2 {
    margin: 0 0 10px 0;
    text-align: center;
}

hr {
    margin: 10px 0;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-container {
    display: grid;
    gap: 15px;
    margin: auto;
    width: 100%;
}

.form-group {
    display: grid;
    grid-template-columns: 120px 1fr; /* Фіксована ширина для лейблів, гнучка для інпутів */
    align-items: start;
    gap: 10px;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
}

.form-group label {
    text-align: right;
    padding-top: 1px;
}

.form-group input,
.form-group select {
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid gray;
    width: 100%;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 10px;
}

.buttons button {
    padding: 8px 20px;
    border: 1px solid gray;
    background-color: transparent;
    cursor: pointer;
}

.pagination-row {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.pagination-button {
    background-color: transparent;
    width: 35px;
    height: 35px;
    margin: 3px;
    font-size: 20px;
    cursor: pointer;
}

.modal {
    display: none;
}

input.invalid {
    border: 2px solid red;
}

.error-message {
    display: none;
    color: red;
    font-size: 14px;
    margin-top: 4px;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media (max-width: 1200px) {
    main {
        width: 1000px;
    }

}

@media (max-width: 1090px) {
    main {
        width: 930px;
    }

    th, td {
        padding: 3px;
    }
}

@media (max-width: 768px) {
    th, td {
        padding: 2px;
    }

    .sidebar {
        width: 70px;
    }

    .modal-content {
        width: 300px;
    }

    .pagination-button {
        font-size: 18px;
        width: 33px;
        height: 33px;
    }
}

@media (min-width: 450px) and (max-width: 576px) {
    tr, th, td {
        font-size: 14px;
        padding: 1px;
    }

    main {
        width: 450px;
    }

    .pagination-button {
        font-size: 15px;
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 450px) {
    .options-button {
        height: 15px;
        width: 10px;

        background-size: 10px;
    }

    tr, th, td {
        font-size: 8px;
        padding: 0px;
    }

    .status-icon {
        width: 10px;
        height: 10px;
        background-size: cover;
    }

    .sidebar {
        width: 40px;
    }

    h1 {
        font-size: 20px;
    }

    .add-button {
        height: 30px;
        padding: 10px;
        line-height: 0px;
    }

    .pagination-button{
        font-size: 10px;
        height: 20px;
        width: 20px;
    }
}
