.sidebar-button {
    margin: 3px 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 30px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    transition: color 0.3s ease-in-out;
}

.sidebar-button:hover {
    color:rgb(129, 126, 126);
}

.sidebar-links {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    font-size: 20px;
}

.active {
    font-weight: bold;
}