<header>
    <a href="../index.html" class="app-name">CMS</a>
    <div class="header-right">
        <div class="notification">
            <button id="notification-button" aria-label="notification-button" class="notification-button" onclick="window.location.href = 'messages.html'"></button>        
            <div class="last-messages">
                <ul>
                    <li>
                        <img class="user-icon" src="../assets/images/user-black.png" alt="user-photo">
                        <div class="message-content">
                            <p>sender</p>
                            <p>content</p>
                        </div> 
                    </li>
                    <li>
                        <img class="user-icon" src="../assets/images/user-black.png" alt="user-photo">
                        <div class="message-content">
                            <p>sender</p>
                            <p>content</p>
                        </div> 
                    </li>
                    <li>
                        <img class="user-icon" src="../assets/images/user-black.png" alt="user-photo">
                        <div class="message-content">
                            <p>sender</p>
                            <p>content</p>
                        </div> 
                    </li>
                </ul>
            </div>
        </div>
        <div class="user-profile">
            <button class="user-button" aria-label="user-button"></button>
            <span id="username" class="username">Yura Stelmakh</span>   
            <div class="user-menu">
                <ul>
                    <li><a href="profile.html">Profile</a></li>
                    <li><a href="login.html">Log out</a></li>
                </ul>
            </div> 
        </div>
    </div>
</header>