<nav class="sidebar">
    <div class="sidebar-buttons">
        <a class="sidebar-button" href="../dashboard.html">
            <img src="../assets/images/dashboard.png" alt="dashboard-icon">
            <span>Dashboard</span>
        </a>
        <a class="sidebar-button" href="../students.html">
            <img src="../assets/images/students.png" alt="students-icon">
            <span>Students</span>
        </a>
        <a class="sidebar-button" href="../tasks.html">
            <img src="../assets/images/clipboard.png" alt="clipboard-icon">
            <span>Tasks</span>
        </a>
    </div>
</nav>